# **Python List**

- List is used to store multiple elements in a single variable.

- syntax: variable_name = [e1,e2,e3,..........]

- total number of elements in a list is called **length (size)** of a list.

- **len()** is used to get the length of any list.

- List allows **multiple data type** as its elements.

- two or more lists are concatenated using **+** operator.

- **multiplication operator** is used to repeate the elements in a list.

- list is a **sequential Data Type**. Hence, **indexing** can be used.

- **index:** a numerical value assigned to every element in a list.

- If **positive numbers** are used as index values, it is called **positive indexing**.

- If **negative numbers** are used as index values, it is called **negative indexing.**

- **slicing:** Accessing elements from the list.

- **Slicing** is two types: (a) forward direction slicing (b) reverse direction slicing.

- List without any elements is called an **empty (null)** list.

- **List is a Mutable Data Type** (add new element, delete element, modify)

In [ ]:
# let us create a list
x=[10,20,30,40,50]
print(x)
print(type(x))
print(len(x))

[10, 20, 30, 40, 50]
<class 'list'>
5

In [ ]:
venues=["hyd","blr","chn","del"]
print(venues)
print(type(venues))
print(len(venues))

['hyd', 'blr', 'chn', 'del']
<class 'list'>
4

In [ ]:
y=["upendra",1234,9999.99,"xyz",2+3j]
print(y)
print(type(y))
print(len(y))

['upendra', 1234, 9999.99, 'xyz', (2+3j)]
<class 'list'>
5

In [ ]:
student_rec=["upendra","b.tech",87.56,"A+",92]
print(student_rec)
print(type(student_rec))

['upendra', 'b.tech', 87.56, 'A+', 92]
<class 'list'>

In [ ]:
x=[1,2,3]
y=["a","b","c"]
print(x+y)

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
print(y+x)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
print(x)
print(2*x)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
print(3*y)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
# slicing ---> let us access one element from a list
x=["a","b","c","d","e"]
print(x)

['a', 'b', 'c', 'd', 'e']

In [ ]:
print(x[0])

a

In [ ]:
print(x[1])
print(x[2])
print(x[3])
print(x[4])

b
c
d
e

In [ ]:
print(x[-1])

e

In [ ]:
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])

d
c
b
a

In [ ]:
# accessing multiple continuos elements
print(x[:])

['a', 'b', 'c', 'd', 'e']

In [ ]:
print(x[0:3])

['a', 'b', 'c']

In [ ]:
print(x[:4])

['a', 'b', 'c', 'd']

In [ ]:
print(x[3:4])

['d']

In [ ]:
print(x[4:3])

[]

In [ ]:
n=[]
print(n)
print(type(n))
print(len(n))

[]
<class 'list'>
0

In [ ]:
null_list=list()
print(null_list)
print(type(null_list))
print(len(null_list))

[]
<class 'list'>
0

In [ ]:
# accessing alternative elements
x[0:5:2]

['a', 'c', 'e']

In [ ]:
x[1:5:2]

['b', 'd']

**Nested List:**

- if one list is an element in another list, it is called a nested list.

- multi indexing is used to access the elements from nested list.

# **List Methods (Functions/Builtin Methods):**



1.   **len():** it gives count of elements in a list.

2.   **count():** it gives number of occurances of an element in a list.

3.   **append():** it adds new element at the end of list.

4.   **insert():** adds element at required position.

5.   **extend():** It is used to merge the data in two lists.

6.   **remove():** It removes an element from list.

7.   **pop():** It remove an element based on the index.

8.   **reverse():** It reverses the order of all the elements in a list.

9.   **sort():** it sorts the elements.

10.  **sorted():** it sorts the list by preserving original order.

11.  **min():** minimum value in all the elements of a list.

12.  **max():** maximum values in all the elements of a list.

13.  **sum():** sum of all the elements in a list.

14.  **list():** it converts a sequence (ex:string) into a list.

In [ ]:
# list() ---> (a) no data given ---> empty list
x=list()
print(x)

[]

In [ ]:
# list() ----> (b) sequence ----> list
name="upendra"
print(list(name))

['u', 'p', 'e', 'n', 'd', 'r', 'a']

In [ ]:
x="aeiou"
print(list(x))

['a', 'e', 'i', 'o', 'u']

In [ ]:
# count() : counts number of occurances of an element in a list
x=[10,20,30,10,20,10,20,10]
print(x.count(10))

4

In [ ]:
x.count(20)

3

In [ ]:
x.count(30)

1

In [ ]:
x.count(99)

0

In [ ]:
names=["upendra","koushik","vineeth","upendra"]
names.count("upendra")

2

In [ ]:
# append(): it adds new element at the end of list
print(x)

[10, 20, 30, 10, 20, 10, 20, 10]

In [ ]:
x.append(99)

In [ ]:
print(x)

[10, 20, 30, 10, 20, 10, 20, 10, 99]

In [ ]:
x.append(88)
print(x)

[10, 20, 30, 10, 20, 10, 20, 10, 99, 88]

In [ ]:
x.append("upendra")
print(x)

[10, 20, 30, 10, 20, 10, 20, 10, 99, 88, 'upendra']

In [ ]:
# insert(): adds new element at required position
x.insert(0,"hyd")
print(x)

['hyd', 10, 20, 30, 10, 20, 10, 20, 10, 99, 88, 'upendra']

In [ ]:
x.insert(5,"innomatics")
print(x)

['hyd', 10, 20, 30, 10, 'innomatics', 20, 10, 20, 10, 99, 88, 'upendra']

In [6]:
# extend
x=list("hyderabad")
y=list("aeiou")
print(x)
print(y)

['h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd']
['a', 'e', 'i', 'o', 'u']

In [2]:
x.extend(y)
print(x)
print(y)

['h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd', 'a', 'e', 'i', 'o', 'u']
['a', 'e', 'i', 'o', 'u']

In [3]:
y.extend(x)
print(y)

['a', 'e', 'i', 'o', 'u', 'h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd', 'a', 'e', 'i', 'o', 'u']

In [5]:
print(x+y)

['h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd', 'a', 'e', 'i', 'o', 'u', 'a', 'e', 'i', 'o', 'u', 'h', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd', 'a', 'e', 'i', 'o', 'u']

In [7]:
# remove:
z=[10,20,30,40,50,60,70]
print(z)
z.remove(60)
print(z)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 70]

In [8]:
z.remove(70)
z.remove(10)
print(z)

[20, 30, 40, 50]

In [9]:
# pop(): it removes an element from list based on index
print(z)

[20, 30, 40, 50]

In [10]:
z.pop(2)

40

In [11]:
print(z)

[20, 30, 50]

In [16]:
y=[10,20,30]
y.reverse()

In [17]:
y

[30, 20, 10]

In [18]:
z=list("delhi")
z.reverse()
print(z)

['i', 'h', 'l', 'e', 'd']

In [19]:
# sort(): It sorts the data in the list
p=["apple","orange","grapes","mango"]
print(p)

['apple', 'orange', 'grapes', 'mango']

In [20]:
p.sort()
print(p)

['apple', 'grapes', 'mango', 'orange']

In [21]:
q=[99,88,6,0,-4,-6,34,1]
q.sort()

In [22]:
print(q)

[-6, -4, 0, 1, 6, 34, 88, 99]

In [23]:
q=[99,88,6,0,-4,-6,34,1]
print(q)
q.sort(reverse=True)
print(q)

[99, 88, 6, 0, -4, -6, 34, 1]
[99, 88, 34, 6, 1, 0, -4, -6]

In [24]:
# sorted(): sorted data stores in a new variable
q=[99,88,6,0,-4,-6,34,1]
print(q)
new=sorted(q)
print(new)
print(q)

[99, 88, 6, 0, -4, -6, 34, 1]
[-6, -4, 0, 1, 6, 34, 88, 99]
[99, 88, 6, 0, -4, -6, 34, 1]

In [25]:
q=[99,88,6,0,-4,-6,34,1]
print(q)

[99, 88, 6, 0, -4, -6, 34, 1]

In [26]:
# min(): lest element in a list
min(q)

-6

In [27]:
# max(): largest element in a list
max(q)

99

In [28]:
# sum(): it gives sum of all the elements in a list.
sum(q)

218

# **Tuple Data Type**

- Tuple is used to store multiple elements in a single variable.

- syntax: variable_name = (e1,e2,e3,..........)

- total number of elements in a tuple is called **length (size)** of a list.

- **len()** is used to get the length of any tuple.

- tuple allows **multiple data type** as its elements.

- two or more tuples are concatenated using **+** operator.

- **multiplication operator** is used to repeate the elements in a tuple.

- tuple is a **sequential Data Type**. Hence, **indexing** can be used.

- **index:** a numerical value assigned to every element in a tuple.

- If **positive numbers** are used as index values, it is called **positive indexing**.

- If **negative numbers** are used as index values, it is called **negative indexing.**

- **slicing:** Accessing elements from the tuple.

- **Slicing** is two types: (a) forward direction slicing (b) reverse direction slicing.

- tuple without any elements is called an **empty (null)** list.

- **Tuple is an Immutable Data Type** (cannot modify a tuple)

In [31]:
x=(10,20,30,40)
print(x)
print(type(x))
print(len(x))

(10, 20, 30, 40)
<class 'tuple'>
4

In [32]:
y=(12,"abc",99.88)
print(y)
print(type(y))
print(len(y))

(12, 'abc', 99.88)
<class 'tuple'>
3

In [33]:
print(x+y)

(10, 20, 30, 40, 12, 'abc', 99.88)

In [34]:
print(2*x)

(10, 20, 30, 40, 10, 20, 30, 40)

In [35]:
print(x[0])

10

In [36]:
print(x[0:3])

(10, 20, 30)

# **Tuple Methods (Functions/Builtin Methods):**



1.   **len():** it gives count of elements in a list.

2.   **count():** it gives number of occurances of an element in a list.

3. **sorted():** it sorts the list by preserving original order.

4.  **min():** minimum value in all the elements of a list.

5.  **max():** maximum values in all the elements of a list.

6.  **sum():** sum of all the elements in a list.

7.  **tuple():** it converts a sequence (ex:string) into a list.

In [37]:
x=tuple()
print(x)
print(type(x))

()
<class 'tuple'>

In [38]:
y=tuple("upendra")
print(y)
print(type(y))

('u', 'p', 'e', 'n', 'd', 'r', 'a')
<class 'tuple'>

# **Python Math Library (Module):**

- it consists of all mathematical functions

- Inorder to use the functions from any library,

- import the library

  (a) import module_name

  (b) from module_name import function_name

In [39]:
# let us calculate log()
x=10
log(10)

NameError: name 'log' is not defined

In [41]:
import math
math.log(x) # natural log()

2.302585092994046

In [42]:
math.log10(x)  # log() with base 10

1.0

In [43]:
math.log2(x)   # log() with base 2

3.321928094887362

In [44]:
# alternate approach
from math import log10
log10(x)

1.0

In [45]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [46]:
help('cmath')

Help on built-in module cmath:

NAME
    cmath

DESCRIPTION
    This module provides access to mathematical functions for complex
    numbers.

FUNCTIONS
    acos(z, /)
        Return the arc cosine of z.

    acosh(z, /)
        Return the inverse hyperbolic cosine of z.

    asin(z, /)
        Return the arc sine of z.

    asinh(z, /)
        Return the inverse hyperbolic sine of z.

    atan(z, /)
        Return the arc tangent of z.

    atanh(z, /)
        Return the inverse hyperbolic tangent of z.

    cos(z, /)
        Return the cosine of z.

    cosh(z, /)
        Return the hyperbolic cosine of z.

    exp(z, /)
        Return the exponential value e**z.

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two complex numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them must be
        smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard. That is, NaN is
        not close to anything, even itself. inf and -inf are only close to themselves.

    isfinite(z, /)
        Return True if both the real and imaginary parts of z are finite, else False.

    isinf(z, /)
        Checks if the real or imaginary part of z is infinite.

    isnan(z, /)
        Checks if the real or imaginary part of z not a number (NaN).

    log(...)
        log(z[, base]) -> the logarithm of z to the given base.

        If the base is not specified, returns the natural logarithm (base e) of z.

    log10(z, /)
        Return the base-10 logarithm of z.

    phase(z, /)
        Return argument, also known as the phase angle, of a complex.

    polar(z, /)
        Convert a complex from rectangular coordinates to polar coordinates.

        r is the distance from 0 and phi the phase angle.

    rect(r, phi, /)
        Convert from polar coordinates to rectangular coordinates.

    sin(z, /)
        Return the sine of z.

    sinh(z, /)
        Return the hyperbolic sine of z.

    sqrt(z, /)
        Return the square root of z.

    tan(z, /)
        Return the tangent of z.

    tanh(z, /)
        Return the hyperbolic tangent of z.

DATA
    e = 2.718281828459045
    inf = inf
    infj = infj
    nan = nan
    nanj = nanj
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [47]:
# 17th: water heating
m=float(input("Enter mass of water (grams):"))
t=float(input("Enter temperature change (degree cg):"))
c=4.186
q=m*c*t
print("Total energy required to heat water is",q,"Joul")

Enter mass of water (grams):10000
Enter temperature change (degree cg):20
Total energy required to heat water is 837200.0 Joul

In [48]:
kwh=q*2.77e-7  # it convers energy into kilo watt hour.
print("Total energy in KWH",kwh)

Total energy in KWH 0.2319044

In [49]:
price_per_unit=2.5
cost=price_per_unit*kwh
print("Total cost in heating the water",cost,"INR")

Total cost in heating the water 0.579761 INR