# **Dictionary**

- It stores the data using key - value pairs.

- syntax:  **variable_name = {key1 : value1, key2 : value2, key3 : value3,.....}**

- Dictionary is called a **mapping** data type.

- Dictionary is a **Mutable** Data Type.

- **Key - value pair** together is called an element in a dictionary.

In [1]:
# Let us create dictionary
x={"python":96,"eda":92,"stats":87}
print(x)
print(type(x))

{'python': 96, 'eda': 92, 'stats': 87}
<class 'dict'>

In [2]:
y={96:"python",92:"eda",87:"stats"}
print(y)
print(type(y))

{96: 'python', 92: 'eda', 87: 'stats'}
<class 'dict'>

In [3]:
z={"c1":"Ravi","c2":"rahul","c3":"rohith"}
print(z)
print(type(z))

{'c1': 'Ravi', 'c2': 'rahul', 'c3': 'rohith'}
<class 'dict'>

In [4]:
runs={"virat":[34,49,56,17,26],"rohith":[45,46,49,21,17],"msd":[23,11,14,45,33]}
print(runs)
print(type(runs))

{'virat': [34, 49, 56, 17, 26], 'rohith': [45, 46, 49, 21, 17], 'msd': [23, 11, 14, 45, 33]}
<class 'dict'>

# **Dictionary Methods:**

1.   **len():** Number of elements in the dictionary
2.   **clear():** it removes the data
3.   **del():** it deletes data
4.   **get():** to access the data from dictionary
5.   **dict():** It converts the data into a dictionary
6.   **keys():** To get all the keys present in the dictionary
7.   **values():** To get all the values present in the dictionary
8.   **items():** to get the values from the dictionary.

In [ ]:
# len()
d={"first":"a","sec":"b","third":"c"}
print(d)
print(type(d))

{'first': 'a', 'sec': 'b', 'third': 'c'}
<class 'dict'>

In [ ]:
print(len(d))

3

In [ ]:
x={"first":"a","sec":"b","third":"c"}
print(x)

{'first': 'a', 'sec': 'b', 'third': 'c'}

In [ ]:
# clear()
x.clear()

In [ ]:
print(x)

{}

In [ ]:
# del()
del x

In [ ]:
print(x)

NameError: name 'x' is not defined

In [ ]:
# get()
x=[10,20,30]
print(x)
print(type(x))

[10, 20, 30]
<class 'list'>

In [6]:
# get
d={'first': 'a', 'sec': 'b', 'third': 'c'}
print(d)

{'first': 'a', 'sec': 'b', 'third': 'c'}

In [ ]:
print(d.get("first"))

a

In [9]:
print(d.get("third"))

c

In [10]:
# dict(): if data is given as list of tuples, it converts into dict.
data=[(1,"a"),(2,"b"),(3,"c"),(4,"d")]
d=dict(data)
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [11]:
# items(): it returns list of tuples from a dictionary
d.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [12]:
# keys(): it return all the keys from dictionary
print(d)
print(d.keys())

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
dict_keys([1, 2, 3, 4])

In [13]:
# values(): it return all the values from disctionary
print(d)
print(d.values())

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
dict_values(['a', 'b', 'c', 'd'])

In [ ]:
# values()
print(d)
print(d.values())

{'first': 'a', 'sec': 'b', 'third': 'c'}
dict_values(['a', 'b', 'c'])

In [14]:
# sets
x={10,20,30,4,50,12,32}

In [16]:
print(x)

{32, 50, 4, 20, 10, 12, 30}

In [17]:
print(x)

{32, 50, 4, 20, 10, 12, 30}

In [18]:
y={10,20,10,20,10,20}
print(y)

{10, 20}